# Environment files
.env
.env.*
**/.env
**/.env.*
.envrc

# Virtual environments
.venv/
venv/
env/
env (1)/
env (1)
**/env (1)
**/env (1)/**

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Notebooks
.ipynb_checkpoints/

# Editors/IDE
.vscode/
.history/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Caches
.cache/
.mypy_cache/
.pytype/
pytest_cache/

# Node (if present)
node_modules/
